Language: Cpp
Standard: c++20

BasedOnStyle: LLVM
BreakBeforeBraces: Allman

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AccessModifierOffset: -4
IndentAccessModifiers: false

PointerAlignment: Left
ReferenceAlignment: Left

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All

IncludeBlocks: Regroup
SortIncludes: CaseSensitive

SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInContainerLiterals: false
